  <h1>Hello {{ controller_name }}! ✅</h1>
{# comments #}
{% set pi=3.14 %}
{{pi}}

{% set tab = {
    'fname': "Jane",
    'lname':"Doe"
}
%}
{{tab['fname']}}

{% set persons = {
    1:{
        'fname':"amir",
        'lname':"laroussi"
    },
    2:{
       'fname':"fadi",
        'lname':"akrout" 
    }
}
%}
<table border= "3 width = '50%'">
{% for p in persons %}
<tr align="center">
  <tr>
   <td>
   {{p.fname}}
   </td>
    <td>
   {{p.lname}}
   </td>
  
  </tr>
  {% endfor %}
</table>

{% if persons is empty %}
<p>
 No One There
</p>
{% else%}
Total :{{persons | length}}
{% endif%}
<br>
{{ ' this is a random text' | trim | upper}}
<br>
{% apply lower %}
A TEXT WRITTEN IN UPPERCASE
{% endapply%}