{% extends "@KilikTable/_defaultTable.html.twig" %}

{% block tableTitle %}
    <b>Reclamations list</b>
{% endblock tableTitle %}

{# custom filters are here ! #}


{# add a column to the left #}
{% block tableHeadStdColumns %}
    <th>
        Action
    </th>
    {{ parent() }}
{% endblock tableHeadStdColumns %}
{% block tableHeadStdFilters %}
    <td>
        &nbsp;
    </td>
    {{ parent() }}
{% endblock tableHeadStdFilters %}
{% block tableBodyStdColumns %}
    <td>
<a href="{{ path('app_reclamations_delete_admin', {'id': row.object.id}) }}"><span class="glyphicon glyphicon-trash"></span></a>
{% if is_granted('ROLE_ADMIN') %}
<a href="{{ path('app_reclamations_admin_show', {'id': row.object.id}) }}"><span class="glyphicon glyphicon-duplicate"></span></a>
    <a href="{{ path('app_reclamations_repondre_admin', {'id': row.object.id}) }}"><span class="glyphicon glyphicon-play-circle"></span></a>
{% else %}
    
<a href="{{ path('app_reclamations_show', {'id': row.object.id}) }}"><span class="glyphicon glyphicon-duplicate"></span></a>
{% endif %}

    </td>
    {{ parent() }}


{% endblock tableBodyStdColumns %}
