{% extends 'front/base.html.twig' %}

{% block title %}Collaboration{% endblock %}

{% block body %}
    <h1>Collaboration</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ collaboration.id }}</td>
            </tr>
            <tr>
                <th>Nomcoll</th>
                <td>{{ collaboration.nomcoll }}</td>
            </tr>
            <tr>
                <th>Typecoll</th>
                <td>{{ collaboration.typecoll }}</td>
            </tr>
            <tr>
                <th>Datecoll</th>
                <td>{{ collaboration.datecoll ? collaboration.datecoll|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_collaboration_index') }}">back to list</a>

    <a href="{{ path('app_collaboration_edit', {'id': collaboration.id}) }}">edit</a>

    {{ include('collaboration/_delete_form.html.twig') }}
{% endblock %}
