{% extends 'base.html.twig' %}

{% block title %}Reponses index{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('path/to/your/css/file.css') }}">
{% endblock %}

{% block body %}
    <h1 class="text-center mb-4" style="color: #B0413E;">Reponses</h1>

    <div class="container mt-5">
        <div class="row mb-3">
            <div class="col-md-6 text-right">
                <a href="{{ path('app_reclamations_index') }}" class="btn btn-primary mr-2">Reclamations</a>
                <a href="{{ path('app_reponses_export_excel') }}" class="btn btn-info mr-2">Export Excel</a>
                <a href="{{ path('reponses_pdf') }}" class="btn btn-danger">Export PDF</a>
            </div>
           
        </div>

{{ render(path('reponses_list')) }}

    </div>
{% endblock %}
