<h1>La liste des formations</h1> de la classe
{{ x }} dans la salle  {{ y }}
<br>
le nombre de Formation est: {{ tabFormation|length }}
<br>
{% if tabFormation is empty %}
    <h1>Pas de formation</h1>
{% else %}
    <table border="1">
        <tr>
            <td>Ref</td>
            <td>Titre</td>
            <td>Description</td>
            <td>Nb_P</td>
            <td>Participer</td>
        </tr>
        {% for f in tabFormation %}
                <tr>
                    <td>{{ f.ref }}</td>
                    <td>{{ f.Titre|upper }}</td>
                    <td>{{ f.Description }}</td>
                    <td>{{ f.nb_participants }}</td>
                    <td>
                        {% if f.nb_participants ==0 %}
                            <a href="{{ path('detail',{'id':f.ref}) }}">Participer</a>
                        {% else %}
                            solde out

                    </td>
                </tr>
            {% endif%}
        {% endfor %}
    </table>
{% endif %}
<table border="1">
  <h1>types de formations</h1>

  {% for f in tabFormation%}
      <tr>
    {% if f.Description=="formation theorique" %}
        <td>{{ f.Titre|upper }}</td>
        <td>{{ f.Description }}</td>

        </tr>

    {% endif %}
    <br>
    {% endfor %}

</table>
<h1>le titre de la formation ayant le plus grand nombre de participants</h1>
{% set maxvalue=0 %}
<table>
{% for f in tabFormation%}
    {% set maxvalue=max(f.nb_participants,maxvalue) %}
    {% endfor %}
    <tr>
        {% for f in tabFormation%}
        {% if f.nb_participants==maxvalue %}
        <td>{{ f.Titre|upper }}</td>
{% endif %}

        </tr>
    <br>
{% endfor %}

</table>
<h1>le nombre total des participants dans toutes les formations</h1>
{% set nbtotal=0 %}
<table>
    {% for f in tabFormation%}
        {% set nbtotal= nbtotal+f.nb_participants %}

    {% endfor %}
    {{ nbtotal }}

</table>
