{% extends 'baseUsers.twig' %}

{% block body %}


    <h4><a href="{{ path('login') }}"><span>Logout</span></a></h4>

    <div class="container">

        <h1>Welcome to Your Owner Dashboard, {{ user.name }}!</h1>

        <h2>Your Projects:</h2>
        <ul>
            {% for project in projects %}
                <li> Project name : {{ project.nompr }} with a capital of {{ project.ca }} created on the date {{ project.dated|date('Y-m-d') }}  </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
