{% extends 'baseUsers.twig' %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('UsersDB/styles.css') }}" media="screen">
{% endblock %}

{% block body %}
    <a  href="{{ path('logout') }}" class="btn btn-link"><span>Logout</span> </a>
    <div class="container">
        <h1>Welcome to Your Funder Dashboard, {{ user.nom }}{{ user.prenom }}!</h1>

        <p>Email: {{ user.email }}</p>
        <p>Role: {{ user.role }}</p>
        {# Add more user information as needed #}
    </div>
{% endblock %}