{% extends 'baseUsers.twig' %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('UsersDB/styles.css') }}" media="screen">
{% endblock %}

{% block body %}
    <a  href="{{ path('logout') }}" class="btn btn-link"><span>Logout</span> </a>
    <div class="container">
        <h1>Welcome to Your Funder Dashboard, {{ user.nom }}{{ user.prenom }}!</h1>

        <h2>Your Investments:</h2>
        <ul>
            {% for investissement in investissements %}
                <li>you invested {{ investissement.montant }} on the date : {{ investissement.date|date('Y-m-d') }} </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}