<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Export des Réclamations</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }
        h1 {
            color: #B0413E;
        }
        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }
        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
<h1>Export des Réclamations</h1>
<table>
    <thead>
    <tr>
        <th>ID Réclamation</th>
        <th>Email</th>
        <th>Projet</th>
        <th>Type Réclamation</th>
        <th>Utilisateur</th>
    </tr>
    </thead>
    <tbody>
        {% if is_granted('ROLE_ADMIN') %}
    {% for reclamation in reclamations %}
        <tr>
            <td>{{ reclamation.id }}</td>
            <td>{{ reclamation.email }}</td>
            <td>{{ reclamation.idProjet ? reclamation.idProjet.nompr : 'N/A' }}</td>
            <td>{{ reclamation.idTypeReclamation ? reclamation.idTypeReclamation.NomTypeReclamation : 'N/A' }}</td>
            <td>{{ reclamation.idUtilisateur ? reclamation.idUtilisateur.nom : 'N/A' }}</td>
        </tr>
    {% else %}
        {% if app.user == reclamation.idUtilisateur %}
         <tr>
            <td>{{ reclamation.id }}</td>
            <td>{{ reclamation.email }}</td>
            <td>{{ reclamation.idProjet ? reclamation.idProjet.nompr : 'N/A' }}</td>
            <td>{{ reclamation.idTypeReclamation ? reclamation.idTypeReclamation.NomTypeReclamation : 'N/A' }}</td>
            <td>{{ reclamation.idUtilisateur ? reclamation.idUtilisateur.nom : 'N/A' }}</td>
        </tr>
        {% endif %}
            {% endfor %}

    {% endif %}
    </tbody>
</table>
</body>
</html>
