{% extends 'base.html.twig' %}

{% block title %}New Article{% endblock %}

{% block body %}
    <h1>Create New Article</h1>

    {{ form_start(form) }}
    {{ form_row(form.description) }}
    {{ form_row(form.imageFile) }} {# This renders the image upload field #}
    <button type="submit">Create</button>
    {{ form_end(form) }}

    <a href="{{ path('app_article_index') }}">Back to List</a>
{% endblock %}
