{% extends 'front/base.html.twig' %}

{% block title %}Article Details{% endblock %}

{% block body %}
    <h1>{{ article.getDescription() }}</h1>
    <p>ID: {{ article.getId() }}</p>

    {% if article.getImage() %}
        <img src="{{ asset('images/front/' ~ article.getImage()) }}" alt="">
    {% else %}
        <p>No image available</p>
    {% endif %}

    <a href="{{ path('app_article_index') }}">Back to list</a>
    <br>
    <a href="{{ path('app_article_edit', {'id': article.getId()}) }}">Edit</a>
    <br>
    <form action="{{ path('app_article_delete', {'id': article.getId()}) }}" method="post">
        <input type="hidden" name="_method" value="DELETE">
        {{ csrf_token('delete' ~ article.getId()) }}
        <button type="submit">Delete</button>
    </form>
{% endblock %}
